<%-include('includes/header.ejs') -%>
<!-- Displaying nav bar according to the user login status. 
    navadmin.ejs is the nav bar for admin while navguest.ejs is the nav bar for guest -->
<% 
if(user == 'admin'){%>
    <%-include('includes/navadmin.ejs') -%><%
}
else if (user == 'undefined' || user == 'guest'){%>
    <%-include('includes/navguest.ejs') -%><%
}
%>

<section class="thanks">
    <h2> Thank you </h2>
    <p> Your request <%= message %> </p>
</section>
<%-include('includes/footer.ejs') -%> 